{{ partial "header.html" . }}


<div class="meta">
  <h1>{{ .Site.Params.author }}</h1>
  <p style="font-size: 28px"><b>{{ .Site.Params.description }} <br> {{ .Site.Params.university }}</b></p>
</div>

<img src="/img/profilepic.jpeg" style="display: block; margin-left: auto; margin-right: auto; width: 50%;">

{{ .Content }}

<div class="posts">
{{ range where .Site.RegularPages "Section" "blog" }}
  <a href={{ .Permalink }}>
    <div class="post-summary">
      {{ if .Draft }}
        <div class="title">DRAFT: {{ .Title }}</div>
      {{ else }}
        <div class="title">{{ .Title }}</div>
      {{ end }}
      <div class="date">{{ .Date.Format .Site.Params.dateform }}</div>
      <div class="description">{{ .Description }}</div>
      <div class="minutes">{{ .ReadingTime }} minute read</div>
    </div>
  </a>
{{ end }}
</div>

{{ partial "footer.html" . }}
